.preview-container{
  font-size: 28px;
  color: #333333;
  margin-left: 90px;
  padding: 30px 11px 30px 30px;
  background-color: #F9F9F9;
  .comment-item,.reply-item{
    line-height: 45px;
    margin-bottom: 10px;
    word-break: break-all;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .name{
    color: #729BBB;
  }
  .content{
    color: #666666;
  }
  .reply-item{
    color: #999999;
    .between{
      margin: 0 10px;
    }
  }
  .margin{
    margin-left: 58px;
  }
  View:last-child{
    margin-bottom: 0;
  }
  .more{
    display: inline-block;
    color: #FB89AB;
  }
  .more:active{
    background-color: whitesmoke;
  }
}