.message-container{
  padding: 30px 20px;
  font-size: 28px;
  color: #333333;
  background-color: white;
  .message-head{
    height: 80px;
    display: flex;
    align-items: center;
    .avatar{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .username{
      margin-right: 10px;
    }
    .tip{
      color: #999999;
    }
  } 
  .message-detail{
    margin-left: 90px;
    .reply{
      margin-top: 20px;
      line-height: 45px;
    }
    .content{
      margin: 20px 0;
      background-color: #F9F9F9;
      padding: 20px;
      View{
        overflow: hidden;
        line-height: 45px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
    }
    .time{
      font-size: 24px;
      color: #999999;
    }
  }
}