.comment-editor-container{
  font-size: 28px;
  color: #999999;
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  .input-title{
    padding: 20px 20px 0 20px;
  }
  .input-area{
    position: relative;
    width: 710px;
    height: 70px;
    padding: 20px 20px 110px 20px;
    line-height: 45px;
  }
  .input-holder{
    color: #D5D5D5;
  }

  .operate-line{
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 710px;
    display: flex;
    padding: 0 20px 20px 20px;
    justify-content: space-between;
    align-items: center;
    .left{
      width: 37.07px;
      height: 37.07px;
    }
    .right{
      display: flex;
      align-items: center;
      .words{
        margin-right: 10px;
        display: inline-block;
      }
      Button{
        display: inline-block;
        margin: 0;
        padding: 0 27px;
        height: 60px;
        border-radius: 30px;
        background-color: #FFEEF3;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      Button:after{
        content: none;
      }
      .button-active{
        background-color: #FB89AB;
      }
    }
  }
}