.msgs-container{
  font-size: 28px;
  color: #333333;
  .out-container{
    border-bottom: 10px solid #F3F3F3;
  }
  .bottom-more{
    margin: 20px 0 63px;
    text-align: center;
    color: #D5D5D5;
  }
}