.likers-container{
  padding: 16px 20px 19px 20px;
  font-size: 24px;
  line-height: 47px;
  background-color: #F9F9F9;
  color: #729BBB;
  .icon{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
  }
}
