.post-detail-container{
  background: #F3F3F3;
  font-size: 28px;
  color: #333333;
  .up{
    padding: 30px 20px 40px 20px;
    background-color: white;
  }
  .bottom{
    margin-top: 10px;
    margin-bottom: 105px;
    background-color: white;
    padding: 30px 20px 40px 20px;
    .comment-num{
      font-size: 30px;
      margin-bottom: 40px;
    }
    .comment-list{
      margin-bottom: 30px;
    }
    .comment-list:last-child{
      margin-bottom: 0;
    }
  }
}