.content-container{
  font-size: 28px;
  color: #333333;
  .content-text{
    margin: 20px 31px 20px 0;
  }
  .content-text-detail{
    margin: 20px 0;
  }
  .content-imgs{
    width: 100%;
  }
  .component{
    margin: 30px 0;
    height: 60px;
    display: flex;
    .zones{
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 auto;
      font-size: 30px;
      align-items: center;
      line-height: 42px;
      View{
        color: #333333;
        background-color: #FFEEF3;
        padding: 9px 20px;
        border-radius: 30px;
        margin-right: 10px;
      }
      .zone-awesome{
        color: #FB89AB;
        .icon{
          width: 23.81px;
          height: 27.31px;
          margin-right: 7px;
        }
      }
      .zone-item Text:first-child{
        margin-right: 8px;
        color: #FB89AB;
      }
    }
    .operate{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0 20px 0 20px;
      .like{
        width: 60px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{  
          width: 35.59px;
          height: 34.76px;
        }
      }
      .comment{
        width: 60px;
        height: 100%;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
          width: 31.25px;
          height: 30.21px;
        }
      }
    }
  }

  .last-edit{
    margin-bottom: 30px;
    color: #999999;
    font-size: 24px;
  }

  .likes{
    margin-bottom: 10px;
  }
    
  .like-bottom{
    background-color: #F3F3F3;
    border-radius: 51px;
    width: 226px;
    height: 102px;
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
      width: 35.59px;
      height: 34.76px;
    }
    .tip{
      color: #FB89AB;
      font-size: 30px;
      margin-left: 20px;
    }
  }
}