.file-upload-container{
  display: flex;
  flex-wrap: wrap;
  .file-item{
    width: 230px;
    height: 230px; 
    margin-right: 10px;
    margin-top: 10px;
    .item{
      width: 100%;
      height: 100%;
    }
    .file{
      background-color: #FFEEF3;
      position: relative;
      .type{
        position: absolute;
        top: calc(50% - 28px);
        left: calc(50% - 50px);
        color: #FB89AB;
        font-size: 40px;
        height: 56px;
        width: 100px;
      }
      .name{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        line-height: 50px;
        width: calc(100% - 20px);
        padding: 0 10px;
        background-color: #333333;
        opacity: 0.49;
        color: white;
        font-size: 22px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
    }
  }
  .file-item:nth-child(3n){
    margin-right: 0;
  }
  .file-item:last-child{
    margin-right: 0;
  }
}