.post-editor-container{
  background-color: white;
  font-size: 28px;
  color: #333333;
  .edit-content{
    min-height: calc(100vh - 141px);
    .text-input{
      padding: 30px 20px;
      min-height: 210px;
      Textarea{
        min-height: 210px;
        line-height: 40px;
        width: 100%;
      }
      .text-input-holder{
        color: #D5D5D5;
      }
      .post-files{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .file-item{
          width: 230px;
          height: 230px;
        }
      }
    }
  
    .file-upload{
      border-top: 10px solid #F3F3F3;
      padding: 28px 20px;
      Image{
        display: inline-block;
        vertical-align: center;
      }
      .file-img{
        width: 39.56px;
        height: 34.63px;
      }
      .file-file{
        margin-left: 60px;
        width: 37.07px;
        height: 39.25px;
      }
      .file-emoji{
        margin-left: 61px;
        width: 37.07px;
        height: 37.07px;
      }
    }
  
    .choose-zones{
      border-top: 10px solid #F3F3F3;
      padding: 30px 20px;
      .zone-title{
        font-size: 30px;
        Text:first-child{
          color: #333333;
        }
        Text:last-child{
          color: #999999;
        }
      }
      .zone-tags{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        .tag-item{
          color: #333333;
          height: 33px;
          line-height: 33px;
          background-color: #F3F3F3;
          color: #333333;
          font-size: 24px;
          padding: 8px 14px;
          margin-right: 20px;
          margin-bottom: 20px;
        }
        
        .tag-item-active{
          background-color: #FFEEF3;
          color: #FB89AB;
        }
      }
    }
  } 
  .send-btn{
    margin: 30px 20px;
    background-color: #FFEEF3;
    color: white;
    border-radius: 41px;
    font-size: 30px;
    width: 710px;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}